
<div class="jumbotron">
  <div class="container">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #searchName>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <button (click)="searchClick(searchName.value, selectedPlatform)" class="btn btn-primary">Submit</button>
  </div>
  
  <ng-select [searchable]="false" [items]="platforms" [(ngModel)]="selectedPlatform">
  </ng-select> 

</div>

<router-outlet></router-outlet>
