
<div [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="jumbotron" [ngStyle]="{'height': isOpen ? '100vh' : '10vh'}">
    <!-- <div class="container" id="wrapper" [ngStyle]="{'padding-top': isOpen ? '10px' : '0px'}"> -->
    <div class="container"
    [ngStyle]="isOpen && {
      'padding-top': '25%',
      'padding-left': '15%',
      'padding-right': '15%'
    } || !isOpen && {
      'padding-top': '1%',
      'padding-left': '1%',
      'padding-right': '1%'
    }" id="wrapper">

      <input type="email"
      [ngStyle]="isOpen && {
        'float': 'left',
        'width': '70%',
        'margin-left': '10px'
      } || !isOpen && {
        'float': 'left',
        'width': '60%',
        'margin-left': '10px'
      }" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" #searchName>
      
      <ng-select id="platformSelect"
      [ngStyle]="isOpen && {
        'float': 'left',
        'margin-left': '10px',
        'width': '26%'
      } || !isOpen && {
        'float': 'left',
        'margin-left': '10px',
        'width': '20%'
      }" [searchable]="false" ng-selected="platforms[0]" [items]="platforms" [(ngModel)]="selectedPlatform">
      </ng-select> 

      <button id="searchBtn"
      [ngStyle]="isOpen && {
        'margin-left': '10px',
        'margin-top': '1%',
        'width': '100%'
      } || !isOpen && {
        'margin-left': '10px',
        'margin-top': '0%',
        'width': '10%'
      }" (click)="searchClick(searchName.value, selectedPlatform)" class="btn btn-primary">Submit</button>

    </div>
    
  </div>
  
    <router-outlet #routerOutlet="outlet"></router-outlet>
      
</div>