.jumbotron{
    height: 100vh;
    padding-top: 0%;
}
#wrapper {
    position: relative;
}
#detail {
    position: relative;
}

.column1 {
    float: left;
    width: 20%;
}
.column2 {
    float: left;
    width: 60%;
}
.column3 {
    float: left;
    width: 20%;
}
.ads {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid;
    color: #343a40;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%
}
.hor_ads {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid;
    color: #343a40;
    height: 150px;
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
