<router-outlet #routerOutlet="outlet"></router-outlet>

<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
            
            <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <ul class="foote_bottom_ul_amrc">
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/ghwlchlaks">Github</a></li>
            <li><a href="https://disqus.com/by/JihoDev/">Comment</a></li>
            <li><a href="http://ghwlchlaks.github.io">Blog</a></li>
            <li><a href="mailto:ghwlchlaks@gmail.com">Contact</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyrightⓒsince2019 JiHo, CHoi All rights reserved
        </p>
        
        <ul class="social_footer_ul">
        </ul>
    </div>
</footer>
        