
  <div *ngIf="!ApiData" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div class="detail_content" *ngIf="ApiData">

  <div class="container">
      <div class="row">
        <div class="bd-callout bd-callout-info col-sm" style="background-color: #343a40; color: #ffffff;">
          <h3 class="info_title">USERNAME</h3><hr />
          <h5 class="info_content">{{apiUsername}}</h5>
        <!-- {{name}} -->
        </div>
        
        <div class="bd-callout bd-callout-warning col-sm info" style="background-color: #343a40; color: #ffffff;">
          <h3 class="info_title">PLATFORM</h3><hr />  
          <h5 class="info_content">{{apiPlatform}}</h5>
            <!-- {{platform}}  -->
        </div>

        <div class="bd-callout bd-callout-danger col-sm info" style="background-color: #343a40; color: #ffffff;">
          <h3 class="info_title">LAST UPDATE</h3><hr />  
          <h5 class="info_content">{{apiLastUpdate}}</h5>
        </div>
        
      </div>
    </div>

    <div class="card border-dark mb-3" style="background-color: #5a5ed2; font-weight: bold">
      <div class="card-header text-white">Total</div>
      <div class="card-body text-dark bg-dark">
        <div id="numberCard1">
          <ngx-charts-number-card
            (window:resize)="onResize($event)"
            [emptyColor]="emptyColor"
            [view]="numberCardView_total"
            [scheme]="numberCardColorScheme_total"
            [results]="numberCardSingle_total"
            [cardColor]="numberCardColor_total"
            [bandColor]="numberCardBandColor_total"
            [textColor]="numberCardTextColor_total"
            [emptyColor]="numberCardEmptyColor_total"
            [innerPadding]="numberCardInnerPadding_total"
            (select)="NumberCardOnSelect_total($event)">
          </ngx-charts-number-card>
          </div>
      </div>
    </div>

    <div class="card border-dark bg-info mb-3" style="">
        <div class="card-header text-white" style="font-weight: bold">PlaceTop</div>
        <div class="card-body text-white bg-dark">
        <div class="ngxPie1">
            <ngx-charts-advanced-pie-chart
            [view]="pieView_placeTop"
            [scheme]="pieColorScheme_placeTop"
            [results]="pieResult_placeTop"
            [gradient]="pieGradient_placeTop"
            (select)="pieOnSelect_placeTop($event)">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
      </div>


      <div class="card border-dark mb-3" style="background-color: #c12bff;">
          <div class="card-header text-white" style="font-weight: bold">matchedPlayed</div>
          <div class="card-body text-white bg-dark">
              <div class="ngxPie2">
                  <ngx-charts-advanced-pie-chart
                  [view]="pieView_matchedPlayed"
                  [scheme]="pieColorScheme_matchedPlayed"
                  [results]="pieResult_matchedPlayed"
                  [gradient]="pieGradient_matchedPlayed"
                  (select)="pieOnSelect_matchedPlayed($event)">
                  </ngx-charts-advanced-pie-chart>
                </div>
          </div>
        </div>

      <div class="card text-white bg-primary mb-3" style="font-weight: bold">
          <div class="card-header text-white">Solo</div>
          <div class="card-body bg-dark">
              <ngx-charts-number-card
              [emptyColor]="emptyColor"
              [view]="numberCardView_solo"
              [scheme]="numberCardColorScheme_solo"
              [results]="numberCardSingle_solo"
              [cardColor]="numberCardColor_solo"
              [bandColor]="numberCardBandColor_solo"
              [textColor]="numberCardTextColor_solo"
              [emptyColor]="numberCardEmptyColor_solo"
              [innerPadding]="numberCardInnerPadding_solo"
              (select)="NumberCardOnSelect_solo($event)">
            </ngx-charts-number-card>
          </div>
        </div>
    

        <div class="card text-white bg-success mb-3" style="font-weight: bold">
            <div class="card-header text-white">Duo</div>
            <div class="card-body bg-dark">
                <ngx-charts-number-card
                  [emptyColor]="emptyColor"
                  [view]="numberCardView_duo"
                  [scheme]="numberCardColorScheme_duo"
                  [results]="numberCardSingle_duo"
                  [cardColor]="numberCardColor_duo"
                  [bandColor]="numberCardBandColor_duo"
                  [textColor]="numberCardTextColor_duo"
                  [emptyColor]="numberCardEmptyColor_duo"
                  [innerPadding]="numberCardInnerPadding_duo"
                  (select)="NumberCardOnSelect_duo($event)">
                </ngx-charts-number-card>
            </div>
          </div>
 
          <div class="card text-white bg-danger mb-3" style="font-weight: bold">
              <div class="card-header text-white">Squad</div>
              <div class="card-body bg-dark">
                  <ngx-charts-number-card
                  [emptyColor]="emptyColor"
                  [view]="numberCardView_squad"
                  [scheme]="numberCardColorScheme_squad"
                  [results]="numberCardSingle_squad"
                  [cardColor]="numberCardColor_squad"
                  [bandColor]="numberCardBandColor_squad"
                  [textColor]="numberCardTextColor_squad"
                  [emptyColor]="numberCardEmptyColor_squad"
                  [innerPadding]="numberCardInnerPadding_squad"
                  (select)="NumberCardOnSelect_squad($event)">
                </ngx-charts-number-card>
              </div>
            </div>

    
            <div class="card text-white bg-warning mb-3" style="font-weight: bold">
                <div class="card-header text-white">Score</div>
                <div class="card-body bg-dark text-white">
                    <div class="ngxPie3">
                        <ngx-charts-pie-grid
                          [view]="pieView_score"
                          [scheme]="pieColorScheme_score"
                          [results]="pieResults_score"
                          (select)="pieOnSelect_score($event)">
                        </ngx-charts-pie-grid>
                      </div>
                </div>
              </div>
    

  </div>

