<h1 id="username">{{name}}</h1>

total card
<ngx-charts-number-card
  [view]="numberCardView_total"
  [scheme]="numberCardColorScheme_total"
  [results]="numberCardSingle_total"
  [cardColor]="numberCardColor_total"
  [bandColor]="numberCardBandColor_total"
  [textColor]="numberCardTextColor_total"
  [emptyColor]="numberCardEmptyColor_total"
  [innerPadding]="numberCardInnerPadding_total"
  (select)="NumberCardOnSelect_total($event)">
</ngx-charts-number-card>

place top pie
<ngx-charts-advanced-pie-chart
[view]="pieView_placeTop"
[scheme]="pieColorScheme_placeTop"
[results]="pieResult_placeTop"
[gradient]="pieGradient_placeTop"
(select)="pieOnSelect_placeTop($event)">
</ngx-charts-advanced-pie-chart>

matchedplayed pie
<ngx-charts-advanced-pie-chart
[view]="pieView_matchedPlayed"
[scheme]="pieColorScheme_matchedPlayed"
[results]="pieResult_matchedPlayed"
[gradient]="pieGradient_matchedPlayed"
(select)="pieOnSelect_matchedPlayed($event)">
</ngx-charts-advanced-pie-chart>

solo card
<ngx-charts-number-card
  [view]="numberCardView_solo"
  [scheme]="numberCardColorScheme_solo"
  [results]="numberCardSingle_solo"
  [cardColor]="numberCardColor_solo"
  [bandColor]="numberCardBandColor_solo"
  [textColor]="numberCardTextColor_solo"
  [emptyColor]="numberCardEmptyColor_solo"
  [innerPadding]="numberCardInnerPadding_solo"
  (select)="NumberCardOnSelect_solo($event)">
</ngx-charts-number-card>



duo card
<ngx-charts-number-card
  [view]="numberCardView_duo"
  [scheme]="numberCardColorScheme_duo"
  [results]="numberCardSingle_duo"
  [cardColor]="numberCardColor_duo"
  [bandColor]="numberCardBandColor_duo"
  [textColor]="numberCardTextColor_duo"
  [emptyColor]="numberCardEmptyColor_duo"
  [innerPadding]="numberCardInnerPadding_duo"
  (select)="NumberCardOnSelect_duo($event)">
</ngx-charts-number-card>

squad card
<ngx-charts-number-card
  [view]="numberCardView_squad"
  [scheme]="numberCardColorScheme_squad"
  [results]="numberCardSingle_squad"
  [cardColor]="numberCardColor_squad"
  [bandColor]="numberCardBandColor_squad"
  [textColor]="numberCardTextColor_squad"
  [emptyColor]="numberCardEmptyColor_squad"
  [innerPadding]="numberCardInnerPadding_squad"
  (select)="NumberCardOnSelect_squad($event)">
</ngx-charts-number-card>

